@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
       
        <div class="act-buttons">
            @Html.ActionLink("Logout", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-info font-14 m-0 mr-2 ml-4", @href = "javascript:document.getElementById('logoutForm').submit()" })
        </div>
    }
}
else
{
    <div class="act-buttons">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info font-14 m-0 ml-2" })
    </div>
    <div class="act-buttons">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-info font-14 m-0 mr-2 ml-4" })
    </div>
}
